.vbz-background{
  background: url("vbz-ws1.png") no-repeat;
}

.vbz-login-button {
  position:absolute;
  margin-top: 51%;
  margin-left: 48%;
}

#loginForm  input[type="submit"] {
  height: 38px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: none;
  text-decoration: none;
  white-space: nowrap;
  background-color: none;
  border-radius: 0;
  cursor: pointer;
  border:none;
  box-sizing: border-box;}

.nav-tabs>li>a {
  padding: 10px 80px !important;
}